<div class="card mb-3">
    <div class="row g-0">
        <div class="image-container col-md-2">
            <img [src]="newsItem.thumbnail"
                 class="img-fluid rounded m-1"
                 alt="picture"
                 height="92"
                 width="92">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">
                    <a class="card-link"
                       target="_blank"
                       [href]="newsItem.link">
                        {{ newsItem.title }}
                    </a>
                </h5>
                <p class="card-text">{{ newsItem.snippet }}</p>
                <p class="card-text"><small class="text-muted">{{ newsItem.date }}</small></p>
            </div>
        </div>
    </div>
</div>
