<div class="container-fluid mt-2"
     infiniteScroll
     [infiniteScrollDistance]="2.5"
     [infiniteScrollThrottle]="50"
     (scrolled)="loadLatestNews()"
>
    <ol class="results-list"
        *ngIf="!(isLoading$ | async); else loader">
        <li *ngFor="let result of newsResults; trackBy: trackByFn">
            <app-news-tile [newsItem]="result"></app-news-tile>
        </li>
    </ol>
    <ng-container *ngIf="(isLoadingPagination$ | async)"
                  [ngTemplateOutlet]="loader">
    </ng-container>
</div>

<ng-template #loader>
    <div class="d-flex justify-content-center mb-3 text-primary"
         [ngClass]="{'fixed-bottom': isLoadingPagination$ | async}">
        <div class="spinner-border mt-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>
